@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .show-between-sizes {
        display: none; /* Standard: Das Div ist ausgeblendet */
    
        /* Breiten- und Höhenbereich */
        @media (min-width: 360px) and (max-width: 430px) and (min-height: 630px) and (max-height: 932px) {
            display: block; /* Div wird nur in diesem Bereich angezeigt */
        }
    }

    .show-bigger-screen {
        display: none; /* Standard: Das Div ist ausgeblendet */

        /* Anzeige, wenn `.show-between-sizes` nicht aktiv ist */
        @media not all and (min-width: 360px) and (max-width: 430px) and (min-height: 630px) and (max-height: 932px) {
            display: block; /* Div wird angezeigt, wenn `.show-between-sizes` nicht aktiv ist */
        }
    }
}

.font-graffiti {
    font-family: 'Permanent Marker', sans-serif;
}

.text-outline {
    text-shadow: 
      -1px -1px 2px #000,  /* Kleinere Schatten */
       1px -1px 2px #000,
      -1px  1px 2px #000,
       1px  1px 2px #000,
      0 0 5px #9b59b6,  /* Lila Schimmer */
      0 0 10px #9b59b6;
    color: black;         /* Schwarze Schriftfarbe */
}

.text-outline-stroke {
    -webkit-text-stroke: 1px #9b59b6; /* Dünnerer Rand */
    color: black;                    /* Schwarze Schriftfarbe */
}